@font-face {
    font-family:'IntelClearPro';
    src:url(../fonts/IntelClearPro.eot);
    src:url(../fonts/IntelClearPro.eot?#iefix) format('embedded-opentype'),
        url(../fonts/IntelClearPro.woff2) format('woff2'),
        url(../fonts/IntelClearPro.woff) format('woff'),
        url(../fonts/IntelClearPro.ttf) format('truetype'),
        url(../fonts/IntelClearPro.svg#IntelClearPro) format('svg')
    }

/*=====================================================================================================*/

nav.navbar.bootsnav.no-background {background-color: rgba(0, 2, 50, 0) !important;box-shadow: 0 3px 15px rgba(0, 0, 0, .01);}

.container, .single-about-txt {width: 100% !important; max-width: 980px !important; margin: 0 auto !important;}

.blue {color: #5B69FE !important;}
.green {color: #D6F1A0 !important;}
.green3 {color: #FFFF4B !important;}

body {background:url(../images/bg1.jpg) #000232 no-repeat center top !important; background-size: cover !important; background-color: #000232;}
.skills {background: transparent !important;}
.list {background:url(../images/bg2.jpg) no-repeat center bottom !important; background-size: cover !important; padding-bottom: 200px; position: relative;}
.list::before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image: linear-gradient(to bottom, #000232, transparent); pointer-events: none; z-index: 1;}
.training, .footer-copyright {background:url(../images/bg3.jpg) #000232 no-repeat center bottom !important; background-size: auto !important;}

h1,h2,h3,h4,h5,h6, p {
    margin: 0 !important; padding: 0 !important;}
 
img{border:none;max-width:100%; height:auto;}

.font-intel-clear h3 {
    font-family: 'IntelClearPro' !important;
    text-transform: uppercase !important;
    font-size: 75px !important; 
}

.skills h3 {color: #8AAD45 !important; margin-bottom: 20px !important;}
.skills h4 {color: #ffffff !important; margin-bottom: 20px !important;}

h4 {font-weight: normal !important;}

.box-fase {background: #8AAD45; margin: 20px; border-radius: 25px; width: 100% !important; padding: 20px; flex: 1; box-sizing: border-box;}
.box-fase.green {background: #8AAD45;}
.box-fase.green2 {background: #6F8441;}
.box-fase p {padding: 0 !important; margin: 0 !important; line-height: auto !important; font-size: 25px !important; text-align: center;}

.list h4 {color: #D6F1A0 !important; font-size: 30px !important; font-weight: 600 !important; padding-bottom: 20px !important;}
.list h4.green3 {color: #FFFF4B !important;}
.box-list {background-color: rgba(101, 123, 51, 0.75); /* Preto com 50% de opacidade */ border-radius: 25px; padding: 100px !important; z-index: 2}

.list ul{padding: 25px; margin: 0 auto; list-style: none;}
.list ul.ul-list2 {padding: 10px 20px;}
.list ul li {display: list-item !important; list-style-type: disc !important; margin: 0px !important; padding: 0px !important;}
.list ul li::marker {color: white; /* Define a cor do marcador */}
.list a {display: initial; !important; color: #ffffff !important; font-weight: normal !important; text-decoration: underline;}
.box-list .single-about-txt {margin-bottom: 30px;}
.box-list .single-about-txt.none {margin-bottom: 0px !important;}
.box-list .single-about-txt.item1 {padding-top: 30px; padding-left: 110px; height: auto; background:url(../images/ico1.svg)no-repeat left top; background-size: 90px;}
.box-list .single-about-txt.item2 {padding-top: 30px; padding-left: 110px; height: auto; background:url(../images/ico2.svg)no-repeat left top; background-size: 90px;}
.box-list .single-about-txt.item3 {padding-top: 30px; padding-left: 110px; height: auto; background:url(../images/ico3.svg)no-repeat left top; background-size: 90px;}
.box-list .single-about-txt.item3 p {padding-bottom: 20px !important}

.list .box-list {width: 100%; max-width: 940px !important; margin: 0 auto !important; float: none;}

/* Container dos blocos */
.training .single-list-content {text-align: center;}
.box-training {width: 20%; display: inline-block; margin: 1%;}
.training h4 {padding: 20px !important; font-size: 30px !important;}
.training .single-list-content:nth-child(4) h4 {color: #1E2EB7;}
.training .single-list-content:nth-child(3) h4 {color: #5B69FE;}
.training .single-list-content:nth-child(2) h4 {color: #97A0FF;}
.training .single-list-content:nth-child(1) h4 {color: #B8D5E3;}
.training a:hover img {opacity: 0.9; border: 1px solid #D6F1A0;}
.training a:hover p {color: #D6F1A0 !important;}

.title2 {border-top: 1px solid #ffffff; max-width: 1140px; margin: 50px auto;}
.title2 .about-content {padding: 50px !important; margin: 0 !important;}

/* Estilos dos blocos */
.box-training .bloco {position: relative;}
.box-training .bloco.completed::before {content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 50%; background: linear-gradient(to bottom, rgba(91, 105, 254, 0.5), transparent); /* Cor rosa com 50% de opacidade */ z-index: 1; /* Fica sobre o fundo, mas abaixo do texto */}
.box-training .bloco.completed::after {
    content: "";
    position: absolute;
    top: 10%;
    right: 45%;
    width: 24px;
    height: 44px;
    border-right: 10px solid #fff; /* Linha vertical */
    border-bottom: 10px solid #fff; /* Linha horizontal */
    transform: rotate(45deg); /* Rotaciona para criar o "check" */
    z-index: 2;
}
.box-training .bloco p {text-align: center; color: #ffffff; padding: 20px 10px !important;}

.training h4.blue {color: #5B69FE !important; font-size: 30px !important; font-weight: 600 !important; text-align: center;}


.box-text {max-width: 800px; margin: 0 auto 50px !important;}
.box-text .container.blue {background: #5B69FE !important;}
.box-text .container.blue2 {background: #1E2EB7 !important;}
.box-text .container.green {background: #8AAD45 !important;}
.box-text .container.red {background: #FF5661 !important;}
.box-text .container {
    background-color: #5B69FE;
    padding: 35px 50px 50px;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}
.box-text .container h3, .box-text .container p {padding-bottom: 20px !important;}
.box-text a {color: #ffffff !important; padding: 20px !important; margin-top: 20px !important; border: 2px solid #ffffff; display: block; width: 100%; max-width: 300px; margin: 0 auto;}
.box-text a:hover {text-decoration: none !important; opacity: 0.6 !important;}
.box-text .container .single-about-txt {width: 100% !important;}


/*=====================================================================================================*/
/* Mobile */
/*=====================================================================================================*/

@media (max-width: 1024px) {
    
    .box-fase {margin: 20px 0 !important;}
    .list .box-list {padding: 60px !important;}
    .list .single-about-txt h4, .list .single-about-txt p {text-align: left !important;}
    .container, .single-about-txt {max-width: 840px !important;}
    .box-training {width: 40% !important;}
    nav.navbar.bootsnav .navbar-toggle i {color: #5B69FE !important;}
    nav.navbar.bootsnav .navbar-toggle {border: 1px solid #5B69FE !important;}
}

@media (max-width: 768px) {
    .skill-content, .list-content {margin: auto 20px !important;}

    .box-text {margin: 0 20px 50px !important;}

    .container, .single-about-txt {max-width: 620px !important;}
    .single-about-txt h3 {font-size: 55px !important;}
    
    .foo-txt {margin: 0 !important;}
    
    .box-list .single-about-txt.item1 {padding: 120px 20px 0 !important; background-size: 100px !important; background: url(../images/ico1.svg) no-repeat center top;}
    .box-list .single-about-txt.item2 {padding: 120px 20px 0 !important; background-size: 100px !important; background: url(../images/ico2.svg) no-repeat center top;}
    .box-list .single-about-txt.item3 {padding: 120px 20px 0 !important; background-size: 100px !important; background: url(../images/ico3.svg) no-repeat center top;}
    .list .single-about-txt h4, .list .single-about-txt p {text-align: center !important;}

    .box-training {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas para telas menores */
    }
}

@media (max-width: 480px) {
    .container, .single-about-txt {max-width: 410px !important;}
    .single-about-txt h3 {font-size: 55px !important;}
    .skills .single-about-txt h3 {font-size: 40px !important;}
    .list .box-list {padding: 30px !important;}
    .box-training {width: 80% !important;}

    .box-training {
        grid-template-columns: 1fr; /* 1 coluna para telas muito pequenas */
    }
}

@media (max-width: 420px) {

    

}
